# Dépendances et caches
node_modules/
.pnpm-store/
.turbo/
.idea/

# Builds des applications
.next/
dist/
build/
*.tsbuildinfo
db-data

# Fichiers d'environnement
.env
.env.local
.env.development
.env.development.local
.env.test.local
.env.production
.env.production.local
.env*.local



# Divers
.DS_Store
*.log